{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="google" value="notranslate">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skins/blue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
     <!-- HIDDEN PANEL 
        ================================================== -->
        <div id="panel">
            <div class="row">
                <div class="twelve columns">
                <img src="{% static 'img/info.png' %}" class="pics" alt="Info">
                    <div class="infotext">
                        Bienvenido a Lannex esperamos que la información suministrada sea de su agrado.
                    </div>
                </div>
            </div>
        </div>
        <p class="slide">
            <a href="#" class="btn-slide"></a>
        </p>

        <!-- HEADER
        ================================================== -->
        <div class="row">   
            <div class="four columns">
                <div class="logo" >
                <img src="{% static 'img/logo_p.png' %}" class="pics" alt="Lannex" width="250" height="100">  
                </div>
            </div>
            <div class="right columns noleftmarg">      
                <nav id="nav-wrap">
                    <ul class="nav-bar sf-menu">

                        <li class="current"><h5>
                                <a href="{% url 'index_web' %}">Inicio</a>
                            </h5>
                        </li>
                        <li><h5>
                                <a href="{% url 'web_quienes_somos' %}">Quienes Somos</a>
                            </h5>
                        </li>
                        <li><h5>
                                <a href="{% url 'portafolio' %}">Portafolio</a>
                            </h5>
                        </li>               
                        <li><h5>
                                <a href="{% url 'contacto' %}">Contactos</a>
                            </h5>
                        </li>
                        <li><h5>
                                <a href="{% url 'ayuda' %}">Ayuda</a>
                            </h5>
                        </li>

                    </ul>
                </nav>
            </div>  
        </div>
        <div class="row">
            {% block content %}{% endblock %}
        </div>
        <!-- FOOOTER 
        ================================================== -->
        <div id="footer">
            <footer class="row">
                <p class="back-top floatright">
                    <a href="#top"><span></span></a>
                </p>
                <div class="four columns">
                    <h1>CONTACTOS <br><br>
                    Teléfonos:</h1> 
                    0243-215.47.74 <br>
                    0424-345.58.88<br><br>
                    <h1>Dirección</h1>
                    Av. principal de Santa Inés , Multicentro Sorrento, local 2-7 , La Morita 2 - Edo. Aragua<br><br>
                    
                </div>
                <div class="four columns">
                    <h1>REDES SOCIALES</h1>
                    <a href="https://www.facebook.com/soydeturmero">
                        <div class="social facebook">

                        </div>
                    </a>
                    <div class="social twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social flickr">
                        <a href="#"></a>
                    </div><br><br><br>
                    <h1>CORREOS ELECTRÓNICOS</h1>
                        
                        <li><a href= "https://www.gmail.com">empresa@lannex.com.ve</a></li>
                        <li><a href= "https://login.live.com">empresa.lannexca@gmail.com</a></li><br>

                </div>
                <div class="four columns">
                    <h1 class="newsmargin">RECIBE NUESTRAS NOTICIAS</h1>
                    <div class="row collapse newsletter floatright">
                        <div class="ten mobile-three columns">
                            <input type="text" class="nomargin" placeholder="Introduce Tu email...">
                        </div>
                        <div class="two mobile-one columns">
                            <a href="#" class="postfix button expand">GO</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="copyright">
            <div class="row">
                <div class="six columns">
                    &copy;<span class="small"> Copyright 2015 <a href="http://www.lannex.com.ve">www.lannex.com.ve</a> / Todos los derechos reservados - RIF: J-40386924-3 </span>
                </div>
                <div class="six columns">
                    <span class="small floatright"> Web Diseñado y Programado por:<a href=""> Ing. Anderson Guerrero & Ing. Jhoan Hernández</a>  </span>
                </div>
            </div>
        </div>


<!-- JavaScript
================================================== -->
    <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/elasticslideshow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.carouFredSel-6.0.5-packed.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cycle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.foundation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slidepanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scrolltotop.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/responsivemenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tweet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/twitterusername.js' %}"></script>
    {% block js %}{% endblock %}

</body>
</html>
