{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Ayuda
{% endblock title %}
{% block content %}
</div>
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">
				Ayuda...
			</p>
			<p class="right">

			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="logo" align="center">
		<img src=" {% static 'img/logo_p.png' %}" alt="info" width='450' height='100'>
		<b><h5>RIF: J-40386924-3</h5></b>
	</div>
	<br><center>
	<p>Estamos contentos de su interes en Lannex, a continuación se muestra un video de como realizar las notificaciones de pagos en la pagina de manera correcta.<br></center>

		<div class="siteContent" role="main">
			<article id="post-25" class="post-25 post type-post status-publish format-standard hentry category-uncategorized">
				<center><h4 class="entryTitle">
					Realizar Notificaciones de Pagos Correctamente [TUTORIAL]  </h4>
				</center>
					<div class="entryContent">
						<p><center><iframe width="854" height="510" src="https://www.youtube.com/embed/dmhmlQWb0RY" frameborder="0" allowfullscreen></iframe></center></p>
					</div>
			</article>    
				</div>
{% endblock content %}
