{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Contactos
{% endblock title %}
{% block content %}
</div>
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                Contactos...
            </p>
            <p class="right">

            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="logo" align="center">
        <img src=" {% static 'img/Lannex.png' %}" alt="info" width='450' height='100'>
    </div>
    <br>
    <p>
        <a>Estamos contentos de su interes en Lannex, para poder contactarle y poder atenderle como usted se merece, le agradecemos que se comunique con nostros a través de los siguientes números teléfonicos y correos electronicos y gustosamente le atenderemos a la brevedad posible.</a><br>

        <div class="row">

            <br>
            <p>
                <h5><a href="">Dirección:</a></h5>
                <li>Av. principal de Santa Inés , Multicentro Sorrento, local 2-7 , La Morita 2 - Edo Aragua.</li><br>

                <h5><a href="">Teléfonos:</a></h5>
                <li>0243-215 4774;</li>
                <li>0424-345 5888</li><br>

                <h5><a href="">Correos Electronicos:</a></h5>

                <li>empresa@lannex.com.ve</li>
                <li>empresa.lannexca@gmail.com</li><br>


                <h5><a href="">Para Realizar Pagos:</a></h5>
                <center>
                    <div class="twelve columns">
                        <ul class="ca-menu">
                            <li>
                                <a >  
                                    <span class="ca-icon"><img src="{% static 'img/provincial.png' %}"></span> 
                                    <div class="ca-content " >
                                        <h2 class="ca-main">Provincial</h2>
                                        <p class="ca-sub" style="line-height: 15px;" >
                                            CUENTA CORRIENTE<br>
                                            0108-0124-93-0100299431<br>
                                            A NOMBRE DE: Lannex C.A.<br>
                                            RIF:  J-40386924-3<br>
                                            CORREO: empresa@lannex.com.ve
                                        </p>
                                    </div>
                                </a>      
                            </li>
                            <li>
                                <a >  
                                    <span class="ca-icon"><img src="{% static 'img/bancaribe.png' %}"></span> 
                                    <div class="ca-content " >
                                        <h2 class="ca-main">Bancaribe</h2>
                                        <p class="ca-sub" style="line-height: 15px;" >
                                            CUENTA CORRIENTE<br>
                                            0114-0207-12-2070050474<br>
                                            A NOMBRE DE: Michael Ostos<br>
                                            CI: 17.275.025<br>
                                            CORREO: empresa@lannex.com.ve
                                        </p>
                                    </div>
                                </a>      
                            </li>

                            <li>
                                <a >  
                                    <span class="ca-icon"><img src="{% static 'img/BNC.png' %}" height="80" width="80"></span> 
                                    <div class="ca-content " >
                                        <h2 class="ca-main">BNC</h2>
                                        <p class="ca-sub" style="line-height: 15px;" >
                                            CUENTA CORRIENTE<br>
                                            0191-0199-10-2100001101 <br>
                                            A NOMBRE DE: Michael Ostos <br>
                                            CI: 17.275.025<br>
                                            CORREO: empresa@lannex.com.ve
                                        </p>
                                    </div>
                                </a>      
                            </li>


                            <li>
                                <a >  
                                    <span class="ca-icon"><img src=" {% static 'img/BFC.jpg' %}" height='80' width='80'></span> 
                                    <div class="ca-content " >
                                        <h2 class="ca-main">BFC</h2>
                                        <p class="ca-sub" style="line-height: 15px;" >
                                            CUENTA CORRIENTE<br>
                                            1000269248<br>
                                            A NOMBRE DE: Michael Ostos <br>
                                            CI: 17.275.025<br>
                                            CORREO: empresa@lannex.com.ve
                                        </p>
                                    </div>
                                </a>      
                            </li>



                        </ul>
                    </div>
                </center>
            </p>
        </div>
    </div>
{% endblock content%}