{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Datos Bancarios
{% endblock title %}
{% block content %}
</div>
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                Datos Bancarios...
            </p>
            <p class="right">

            </p>
        </div>
    </div>
</div>
<div class="row">
    <br>
    <center>
        <p><h4><a>En Lannex nos esforzamos para garantizar nuestros SLA de servicio, tenemos un equipo altamente calificado trabajando de manera constante en garantizar la continuidad de sus operaciones.</a></h4></center>
            <center>
                <div class="twelve columns">
                    <div class="centersectiontitle">
                        <h4>Nuestros Bancos</h4>
                    </div>
                </div>
                <div class="twelve columns">
                    <ul class="ca-menu">
                        <li>
                            <a >  
                                <span class="ca-icon"><img src="{% static 'img/provincial.png' %}"></span> 
                                <div class="ca-content " >
                                    <h2 class="ca-main">Provincial</h2>
                                    <p class="ca-sub" style="line-height: 15px;" >
                                        CUENTA CORRIENTE<br>
                                        0108-0124-93-0100299431<br>
                                        A NOMBRE DE: Lannex C.A.<br>
                                        RIF:  J-40386924-3-<br>
                                        CORREO: empresa@lannex.com.ve
                                    </p>
                                </div>
                            </a>      
                        </li>
                        <li>
                            <a >  
                                <span class="ca-icon"><img src="{% static 'img/bancaribe.png' %}"></span> 
                                <div class="ca-content " >
                                    <h2 class="ca-main">Bancaribe</h2>
                                    <p class="ca-sub" style="line-height: 15px;" >
                                        CUENTA CORRIENTE<br>
                                        0114-0207-12-2070050474<br>
                                        A NOMBRE DE: Michael Ostos<br>
                                        CI: 17.275.025<br>
                                        CORREO: empresa@lannex.com.ve
                                    </p>
                                </div>
                            </a>      
                        </li>

                        <li>
                            <a >  
                                <span class="ca-icon"><img src="{% static 'img/BNC.png' %}" height='80' width='80'></span> 
                                <div class="ca-content " >
                                    <h2 class="ca-main">BNC</h2>
                                    <p class="ca-sub" style="line-height: 15px;" >
                                        CUENTA CORRIENTE<br>
                                        0191-0199-10-2100001101 <br>
                                        A NOMBRE DE: Michael Ostos <br>
                                        CI: 17.275.025<br>
                                        CORREO: empresa@lannex.com.ve
                                    </p>
                                </div>
                            </a>      
                        </li>


                        <li>
                            <a >  
                                <span class="ca-icon"><img src="{% static 'img/BFC.jpg' %}" height='80' width='80'></span> 
                                <div class="ca-content " >
                                    <h2 class="ca-main">BFC</h2>
                                    <p class="ca-sub" style="line-height: 15px;" >
                                        CUENTA CORRIENTE<br>
                                        1000269248<br>
                                        A NOMBRE DE: Michael Ostos <br>
                                        CI: 17.275.025<br>
                                        CORREO: empresa@lannex.com.ve
                                    </p>
                                </div>
                            </a>      
                        </li>
                    </ul>
                </div>
            </center>
        </div>
{% endblock content %}
