{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Fecha de Corte
{% endblock title %}
{% block content %}
    </div>
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                    Fecha de Corte...
                </p>
                <p class="right"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <p>
            Somos una Empresa Integradora de Telecomunicaciones en Venezuela que ofrece Servicios de Internet Inalámbrico en la Región Central del País, con capital 100% Nacional, focalizado al mercado Residencial, PYMES y Empresarial, ofrecemos velocidades de acceso a Internet, según los requerimientos del cliente, en cualquier lugar, gracias a la utilización de tecnologías de última generación.<br>
            <h2>¡Lea con atención, Y DISFRUTE EL MEJOR SERVICIO!</h2>
            <div class="logo" align="center">
                <img src=" {% static 'img/logo_p.png' %}" alt="info" width='450' height='100'>
                <b><h5>RIF: J-40386924-3</h5></b>
            </div>
            <img src=" {% static 'img/aviso_pago.png' %}" width='100%'><br><br>
            <div class="row">
                <div class="twelve columns">
                    <div class="centersectiontitle">
                        <p><h4><a>Nuestros Planes y Precios</a></h4>
                        </div>
                    </div>
                    <div class="four columns">
                        <p><h4><a>Doméstico</a></h5>
                            <p>
                                384/128  Kbps   = 410,00 Bs.<br>
                                512/128  Kbps   = 545,00 Bs.<br>
                                728/128  Kbps   = 725,00 Bs.<br>
                                1024/256 Kbps   = 1090,00 Bs.<br>
                                1532/512 Kbps   = 1913,00 Bs.<br>
                                2048/512 Kbps   = 2630,00 Bs.<br>
                            </p>
                            <p>
                                <a href="#" class="readmore">Leer mas</a>
                            </p>
                        </div>


                        <div class="four columns">
                            <p><h4><a>Pymes & Empresarial</a></h5>
                                <p>
                                    512/128  Kbps = 1.201,20 Bs.<br>
                                    728/128  Kbps = 1.441.44 Bs.<br>
                                    1024/256 Kbps = 2.038,40 Bs.<br>
                                    1532/512 Kbps = 2.475,20 Bs.<br>
                                    2048/512 Kbps = 4.076,80 Bs.<br>
                                </p>
                                <p>
                                    <a href="#" class="readmore">Leer mas</a>
                                </p>
                            </div>

                        </div>
                        <div class="hr">
                            <div class="centersectiontitle">
                                <center><p><h4><a>Nuestros Bancos</a></h4></center><br>
                            </div>
                        </div>

                        <div class="twelve columns">
                            <ul class="ca-menu">
                                <li>
                                    <a >  
                                        <span class="ca-icon"><img src="{% static 'img/provincial.png' %}"></span> 
                                        <div class="ca-content " >
                                            <h2 class="ca-main">Provincial</h2>
                                            <p class="ca-sub" style="line-height: 15px;" >
                                                CUENTA CORRIENTE<br>
                                                0108-0124-93-0100299431<br>
                                                A NOMBRE DE: Lannex C.A.<br>
                                                RIF:  J-40386924-3<br>
                                                CORREO: empresa@lannex.com.ve
                                            </p>
                                        </div>
                                    </a>      
                                </li>
                                <li>
                                    <a >  
                                        <span class="ca-icon"><img src="{% static 'img/bancaribe.png' %}"></span> 
                                        <div class="ca-content " >
                                            <h2 class="ca-main">Bancaribe</h2>
                                            <p class="ca-sub" style="line-height: 15px;" >
                                                CUENTA CORRIENTE<br>
                                                0114-0207-12-2070050474<br>
                                                A NOMBRE DE: Michael Ostos<br>
                                                CI: 17.275.025<br>
                                                CORREO: empresa@lannex.com.ve
                                            </p>
                                        </div>
                                    </a>      
                                </li>

                                <li>
                                    <a >  
                                        <span class="ca-icon"><img src="{% static 'img/BNC.png' %}" height='80' width='80'></span> 
                                        <div class="ca-content " >
                                            <h2 class="ca-main">BNC</h2>
                                            <p class="ca-sub" style="line-height: 15px;" >
                                                CUENTA CORRIENTE<br>
                                                0191-0199-10-2100001101 <br>
                                                A NOMBRE DE: Michael Ostos <br>
                                                CI: 17.275.025<br>
                                                CORREO: empresa@lannex.com.ve
                                            </p>
                                        </div>
                                    </a>      
                                </li>

                                <li>
                                    <a >  
                                        <span class="ca-icon"><img src="{% static 'img/BFC.jpg' %}" height='80' width='80'></span> 
                                        <div class="ca-content " >
                                            <h2 class="ca-main">BFC</h2>
                                            <p class="ca-sub" style="line-height: 15px;" >
                                                CUENTA CORRIENTE<br>
                                                1000269248<br>
                                                A NOMBRE DE: Michael Ostos <br>
                                                CI: 17.275.025<br>
                                                CORREO: empresa@lannex.com.ve
                                            </p>
                                        </div>
                                    </a>      
                                </li>
                            </ul>
                        </div>
                    </center>
                    <br>
                </div>
{% endblock content %}