{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Portafolio
{% endblock title %}
{% block content %}
</div>
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">Portafolio...</p>
			<p class="right"></p>
		</div>
	</div>
</div>
<div class="row">
	<br>
	<p>
		Somos una Empresa Integradora de Telecomunicaciones en Venezuela que ofrece Servicios de Internet Inalámbrico en la Región Central del País, con capital 100% Nacional, focalizado al mercado Residencial, PYMES y Empresarial, ofrecemos velocidades de acceso a Internet, según los requerimientos del cliente, en cualquier lugar, gracias a la utilización de tecnologías de última generación.<br>
		<center><b><h3>Entre nuestros clientes tenemos:</h3></center>
		<p>
		<h5><a href="#mision"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Invesiones Interprice, C.A. (Agencias La 49)</a></h5>
		<h5><a href="#vision"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Corporación Facilito, C.A.</a></h5>
		<h5><a href="#objetivoso"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Incisan Otipsa Instalaciones (I.O.I), C.A.</a></h5>
		<h5><a href="#vadlo"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Otros mas</a></h5>

			<br  class="saltopagina">
			<a name="mision"></a>
			<center><h4><a href="">Inversiones Interprice, C.A. (Agencias La 49)</a></h4></center>
			<p>
				<center>Es una empresa que se dedica a la presentación del servicio de apuesta de loterias en el territorio nacional, con mas de 100 agencias en todo el territorio la hace ser uno de los grupos de agencias mas grandes de venezuela y nosotros le ofrecemos el servicio de internet a 19 agencias de ellos en el estado aragua.</center>

				<br>
				<br  class="saltopagina">
				<a name="mision"></a>
				<center><h4><a href="">Corporación Facilito, C.A.</a></h4></center>
				<p>
					<center>Es una corporación que se dedica a la presentación del servicio de apuesta de loterias en el territorio nacional, con mas de 70 agencias en el territorio, la hace ser uno de los grupos de agencias mas grandes de venezuela y nosotros le ofrecemos el servicio de internet a 15 agencias de ellos en el estado aragua.</center>
					<br>
					<br  class="saltopagina">
					<a name="mision"></a>
					<center><h4><a href="">Incisan Otipsa Instalaciones (I.O.I), C.A.</a></h4></center>
					<p>
						<center> Es una empresa líder en la Construcción de Obras Civiles e Instalaciones Electromecánicas, es la unión de dos compañías de excelente trayectoria altamente reconocidas. Más de 50 años dedicados a la prestación de servicios multidisciplinarios en el campo de las Construcciones e Instalaciones Industriales. Nosotros le ofrecemos el servicio a 3 sucursales que se encuentran en el estado aragua (Villa de Cura y Coropo).</center>

					</div>
					{% endblock content %}