{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Quienes Somos
{% endblock title %}
{% block content %}

</div>
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            
            <p class="left">
                Quienes Somos...
            </p>
            <p class="right">

            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="logo" align="center">
                <img src="{% static 'img/Lannex.png' %}" alt="Lanex" width='450' height="100">
    </div>
<br><center>
<p><h5><a>Somos una Empresa Integradora de Telecomunicaciones en Venezuela que ofrece Servicios de Internet Inalámbrico en la Región Central del País, con capital 100% Nacional, focalizado al mercado Residencial, PYMES y Empresarial, ofrecemos velocidades de acceso a Internet, según los requerimientos del cliente, en cualquier lugar, gracias a la utilización de tecnologías de última generación.</a></h5></center>
<br>
    <p>
    <div class="caption lfl rs" data-x="0" data-y="120" data-speed="600" data-start="1600" data-easing="easeOutExpo" >

          </div>

          <div class="caption lfl small_text rs" data-x="30" data-y="122" data-speed="600" data-start="1600" data-easing="easeOutExpo">

           </div>
    <h5><a href="#mision"><img src="{% static 'img/Logo_Lannex.png' %}" width='2%'> Misión</a></h5>
    <h5><a href="#vision"><img src="{% static 'img/Logo_Lannex.png' %}" width='2%'> Visión</a></h5>
    <h5><a href="#objetivoso"><img src="{% static 'img/Logo_Lannex.png' %}" width='2%'> Objetivos de la Empresa</a></h5>
    <h5><a href="#objetivoec"><img src="{% static 'img/Logo_Lannex.png' %}" width='2%'> Objetivos Estratégicos de la Empresa</a></h5>
    <h5><a href="#vadlo"><img src="{% static 'img/Logo_Lannex.png' %}" width='2%'> Valores de la Empresa</a></h5>

<br  class="saltopagina">
<a name="mision"></a>
<center><b><h5><a href="">Misión</a></h5></center><p>
<center>Mejorar la calidad de vida de la gente en Venezuela al proveer Servicios de Internet Inalámbrico y soluciones de comunicaciones, que excedan las expectativas de nuestros clientes.</center>

<br>
<br  class="saltopagina">
<a name="vision"></a>
<center><b><h5><a href="">Visión</a></h5></center><p>
<center>Ser el proveedor preferido de Servicios de Internet Inalámbrico y soluciones integrales de telecomunicaciones de Venezuela, y satisfacer plenamente las necesidades específicas de nuestros clientes, siempre bajo exigentes patrones de ética y rentabilidad.</center> 

<br>
<br  class="saltopagina">
<a name="objetivoso"></a>

<center><b><h5><a href="">Objetivos de la Empresa</a></h5></center><p>
<p>
<b>-.</b> Ser el proveedor preferido de Servicios de Internet Inalámbrico y soluciones integrales de telecomunicaciones en el mercado, defendiendo la marca y el cliente.<br>
<b>-.</b> Aplicar la tecnología para responder oportunamente a las necesidades y requerimientos del mercado.<br>
<b>-.</b> Crear y mantener ventajas competitivas mediante el manejo de la información de nuestra base de clientes.<br>
<b>-.</b> Crear y mantener ventajas competitivas basadas en la calidad de los recursos humanos y servicios.<br>

<br  class="saltopagina">
<a name="objetivoec"></a>
<center><b><h5><a href="">Objetivos Estratégicos de la Empresa</a></h5></center><p>
<center>Para estar en capacidad de materializar la intención estratégica de dar comunicaciones a todos en cualquier momento y lugar, se han definido tres lineamientos estratégicos de crecimiento y dos de operación, enmarcados en una forma específica de hacer negocios.</center><br>
<p>
<b><h5>
Los lineamientos de crecimiento son:</h5>
    <li>Ser número uno en movilidad y alcance.</li>
    <li>Crear valor sobre el liderazgo en banda ancha.</li>
    <li>Capturar el mercado emergente de las mayorías.</li>
<p>
    <b><h5>Los lineamientos operativos son:</h5>

<li>Estimular los negocios tradicionales.</li>
<li>Alcanzar excelencia en eficiencia operativa y satisfacción del cliente.</li>

<b><h5>Enmarcado en una forma específica de hacer negocios:</h5>
<li>Ser una empresa socialmente responsable con nuestros clientes.</li><br>

<br  class="saltopagina">
<a name="vadlo"></a>
<b style="font-size:12px"><center><b><h5><a href="">Valores de la Empresa</a></h5></b></center><p>
<u><b><h5>Compromiso con la Empresa</h5></u>

<li>Estamos comprometidos con nuestra visión de "Ser el proveedor preferido de Servicios de Internet Inalámbrico y soluciones integrales de telecomunicaciones de Venezuela, y satisfacer plenamente las necesidades específicas de nuestros clientes, siempre bajo exigentes patrones de ética y rentabilidad".<br>
Atendemos con rapidez y cordialidad los planteamientos de nuestros clientes, a los cuales les damos respuestas efectivas que los hagan sentirse plenamente satisfechos.</li><br> 
<li>Cumplimos con excelencia nuestra misión de "Mejorar la calidad de vida de la gente en Venezuela al proveer Servicios de Internet Inalámbrico y soluciones de comunicaciones, que excedan las expectativas de nuestros clientes".</li><br>
<li>Trabajamos coordinadamente y en equipo y establecemos alianzas entre todas las empresas y unidades de la Corporación, para ofrecer respuestas más eficientes al mercado y al cliente y garantizar el mayor rendimiento a nuestros accionistas.</li><br>
<li>Estimulamos la participación, fomentamos un ambiente creativo y cordial y nos sentimos orgullosos de pertenecer a la mejor empresa de Servicio de Internet Inalámbrico de la región central de venezuela.</li><br>
<li>Mantenemos una comunicación abierta con nuestros clientes, proveedores, compañeros de trabajo, supervisores, tecnicos y afiliados.</li><br>
    
<u><b><h5>Orientación al Negocio, al Servicio y al Cliente</h5></u>

<li>Conocemos las características específicas de cada uno de nuestros clientes, entendemos sus necesidades y les buscamos las soluciones más efectivas, incluso con anticipación, porque ellos constituyen nuestra razón de ser.</li><br>
<li>Atendemos con rapidez y cordialidad los planteamientos de nuestros clientes, a los cuales les damos respuestas efectivas que los hagan sentirse plenamente satisfechos.</li><br>
<li>Entendemos nuestro negocio, estudiamos permanentemente el comportamiento del mercado, la competencia y el entorno, y evaluamos las tendencias nacionales de la industria de telecomunicaciones, por lo que tenemos una capacidad de adaptación tecnológica y organizacional que nos hace flexibles y eficientes.</li>
<br>

    
<u><b><h5>Responsabilidad por Resultados</h5></u>

<li>Tomamos decisiones a tiempo ante las distintas situaciones que se nos presentan, basadas en las mejores prácticas, en las normas y procedimientos, y en el análisis de sus consecuencias.</li><br>
<li>Cumplimos los compromisos que asumimos con nuestros clientes internos y externos, y somos responsables por los resultados de nuestras decisiones y actuaciones.</li><br>
<li>Ejecutamos las tareas que asumimos dentro de los plazos establecidos con los niveles de calidad acordados.</li><br>
<li>Buscamos resultados que garanticen la rentabilidad de la inversión de nuestros accionistas, a cuya comunidad nos sentimos orgullosos de pertenecer.</li><br>

<u><b><h5>Alto Nivel de Profesionalismo</h5></u><p>

<li>Somos excelentes profesionales y técnicos y hacemos nuestro trabajo con la mayor calidad, precisión y amor por el detalle.</li><br>
<li>Actuamos con transparencia, honestidad, apego a las leyes y ética ante nuestros clientes, proveedores, compañeros de trabajo, supervisores, tecnicos y afiliados.</li><br>
<li>Mejoramos continuamente nuestros procesos, nuestro desempeño y nuestros conocimientos.</li><br>

<u><b><h5>Responsabilidad Social</h5></u><p>

<li>Somos una Empresa cuyos trabajadores a través de los productos y servicios que ofrecemos contribuimos significativamente a desarrollar el país y a mejorar la calidad de vida de sus habitantes; y entendemos que nos desempeñamos en un entorno socio-económico del cual somos parte y con el cual interactuamos permanentemente.</li><br>

<li>Ejercemos una responsabilidad social, no sólo cuando cumplimos con excelencia nuestra misión dentro de la Empresa, sino también cuando comprendemos la realidad de la comunidad y cuando voluntariamente participamos en iniciativas sociales y ciudadanas que impactan positivamente en ella. </li><br>
<li>Promovemos, valoramos y reconocemos las conductas asociadas a nuestra vocación comunitaria como un elemento diferenciador de nuestra organización, pues es parte de nuestra razón de ser.</li><br>

</div>
{% endblock content %}