{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Lannex
{% endblock title %}
{% block content %}
</div>
<!-- SLIDER 
================================================== -->
<div id="ei-slider" class="ei-slider">
    <ul class="ei-slider-large">
        <li>
        	<img src="{% static 'img/tecno6.jpg' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>

        <li>
        	<img src="{% static 'img/tecno8.jpg' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>


        <li>
        	<img src="{% static 'img/tecno1.jpg' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>

        <li>
        	<img src="{% static 'img/tecno2.jpg' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>

        <li>
        	<img src="{% static 'img/tecno3.jpg' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>

        <li>
        	<img src="{% static 'img/tecno4.jpg' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>

        <li>
        	<img src="{% static 'img/tecno5.jpg' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>

        <li>
        	<img src="{% static 'img/tecno7.png' %}" alt="Cobertura Turmero" class="responsiveslide">
            <div class="ei-title">
                <h2>Lannex, C.A.</h2>
            </div>
        </li>   

    </ul>
    <!-- slider-thumbs -->
    <ul class="ei-slider-thumbs">
        <li class="ei-slider-element">Current</li>
        <li><a href="#">Slide 1</a><img src="{% static 'img/tecno6.jpg' %}" alt="Cobertura" class="slideshowthumb"></li>
        <li><a href="#">Slide 2</a><img src="{% static 'img/tecno8.jpg' %}" alt="Cobertura" class="slideshowthumb"></li>
        <li><a href="#">Slide 3</a><img src="{% static 'img/tecno1.jpg' %}" alt="Cobertura" class="slideshowthumb"></li>
        <li><a href="#">Slide 1</a><img src="{% static 'img/tecno2.jpg' %}" alt="Cobertura" class="slideshowthumb"></li>
        <li><a href="#">Slide 2</a><img src="{% static 'img/tecno3.jpg' %}" alt="Cobertura" class="slideshowthumb"></li>
        <li><a href="#">Slide 3</a><img src="{% static 'img/tecno4.jpg' %}" alt="Cobertura" class="slideshowthumb"></li>
        <li><a href="#">Slide 1</a><img src="{% static 'img/tecno5.jpg' %}" alt="Cobertura" class="slideshowthumb"></li>
        <li><a href="#">Slide 2</a><img src="{% static 'img/tecno7.png' %}" alt="Cobertura" class="slideshowthumb"></li>

    </ul>	
</div>
<div class="minipause">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="text-center">
            <center><h3>
            		<img src="{% static 'img/Logo_Lannex.png' %}" height="" width='4%'>Tu Solución de Internet<img src="{% static 'img/Logo_Lannex.png' %}" height="" width='4%'>
            		</h3>
            </center>
            </p>
        </div>
    </div>
</div>
<!-- ANIMATED COLUMNS 
================================================== -->
<div class="row">
    <div class="twelve columns">
        <ul class="ca-menu">
            <li>
                <a href="{% url "nueva-notificacion" %}">

                    <span class="ca-icon">ó</span>

                    <div class="ca-content">
                        <h2 class="ca-main">Notifica<br>Tu<br/>Pago</h2>
                        <h3 class="ca-sub">EVITE CORTES...<br></h3>
                    </div>
                </a>

            </li>
            <li>
                <a href="{% url 'zonas_cobertura' %}">
                    <span class="ca-icon">q</span>
                    <div class="ca-content">
                        <h2 class="ca-main">Zonas<br>De<br>Cobertura</h2>

                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'fecha_corte' %}">
                    <span class="ca-icon">;</span>
                    <div class="ca-content">
                        <h2 class="ca-main">Fecha De Corte</h2>
                        <h3 class="ca-sub">El día 03 de Cada Mes</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'datos_bancarios' %}">
                    <span class="ca-icon">m</span>
                    <div class="ca-content">
                        <h2 class="ca-main">Datos<br/> Bancarios</h2>
                        <h3 class="ca-sub">Para Pagos de Servicio...</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <p><h4><a>Nuestros Planes y Precios</a></h4>
        </div>
    </div>
    <div class="four columns">
        <p><h4><a>Doméstico</a></h5>
        <p>
            384/128  Kbps 	= 410,00 Bs.<br>

            512/128  Kbps 	= 545,00 Bs.<br>

            728/128  Kbps 	= 725,00 Bs.<br>

            1024/256 Kbps 	= 1090,00 Bs.<br>

            1532/512 Kbps 	= 1913,00 Bs.<br>

            2048/512 Kbps 	= 2630,00 Bs.<br>
        </p>
        <p>
            <a href="<?php echo $this->Html->url(array('controller' => 'inicio', 'action' => 'Fecha_de_corte')); ?>" class="readmore">Leer mas</a>
        </p>
    </div>


    <div class="four columns">
        <p><h4><a>Pymes & Empresarial</a></h5>
        <p>
            512/128  Kbps = 1.201,20 Bs.<br>

            728/128  Kbps = 1.441.44 Bs.<br>

            1024/256 Kbps = 2.038,40 Bs.<br>

            1532/512 Kbps = 2.475,20 Bs.<br>

            2048/512 Kbps = 4.076,80 Bs.<br>
        </p>
        <p>
            <a href="<?php echo $this->Html->url(array('controller' => 'inicio', 'action' => 'Fecha_de_corte')); ?>" class="readmore">Leer mas</a>
        </p>
    </div>

</div>
<div class="hr">
</div>
<!-- TESTIMONIALS 
================================================== -->
<div class="row">
    <div class="twelve columns">
        <div id="testimonials">
            <blockquote>
                <p>
                    "¡Lea con atención, Y DISFRUTE EL MEJOR SERVICIO! Recordamos a nuestros estimados usuarios que la fecha de corte general del servicio es el día 03 de cada mes, sugerimos realizar sus pagos antes de la fecha de corte para asi evitar suspensión, si pagas.." <cite>EVITE CORTES... </cite>
                </p>
            </blockquote>

        </div>
        <!--end testimonials-->
    </div>
</div>
<div>

{% endblock content %}
{% block js %}
{% endblock %}
