{% extends "base_web.html"%}
{% load staticfiles %}
{% block title %}
Zonas de Cobertura
{% endblock title %}
{% block content %}
</div>
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">
				 Zonas de Cobertura...
			</p>
			<p class="right"></p>
		</div>
	</div>
</div>
<div class="row">
    <br>
    <br>
    <br>
    <p>
    <h5><a href="#turmero"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Turmero</a></h5>
    <h5><a href="#estadoa"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Estado Aragua</a></h5>
    <h5><a href="#caracasteq"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Caracas y Los Teques</a></h5>
    <h5><a href="#coloniat"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> La Colonia Tovar</a></h5>
    <h5><a href="#valencia"><img src=" {% static 'img/Logo_Lannex.png' %}" width='2%'> Valencia</a></h5>

<br  class="saltopagina">
<a name="turmero"></a>
<b><h3>
    <img src="{% static 'img/Logo_Lannex.png' %}" width='4%'> Turmero</h3><p>
    <img src="{% static 'img/imagen1.jpg' %}" width='100%'>
    <br>

<br  class="saltopagina">
<a name="estadoa"></a>
<b><h3>
    <img src="{% static 'img/Logo_Lannex.png' %}" width='4%'> Estado Aragua</h3><p>
    <img src="{% static 'img/cobertura1.png' %}" width='100%'>
    <br>
   	
<br  class="saltopagina">
<a name="caracasteq"></a>
<b><h3>
    <img src="{% static 'img/Logo_Lannex.png' %}" width='4%'> Caracas y Los Teques</h3>
    <img src="{% static 'img/cobertura2.png' %}" width='100%'>
    <br>
    
<br class="saltopagina">
<a name="coloniat"></a>
<b><h3>
    <img src="{% static 'img/Logo_Lannex.png' %}" width='4%'> La Colonia Tovar</h3>
    <img src="{% static 'img/cobertura3.png' %}" width='100%'>
    <br>

<br  class="saltopagina">
<a name="valencia"></a>
<b><h3>
    <img src="{% static 'img/Logo_Lannex.png' %}" width='4%'> Valencia</h3><p>
    <img src="{% static 'img/cobertura4.png' %}" width='100%'>
    <br>
   	</div>
{% endblock content %}